@import url(http://allfont.ru/allfont.css?fonts=cyrillicold);

#container {
  width: 100%;
  height: 100%;
}

#view {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  font-family: "'CyrillicOld', arial";
  font-size: 4em;
  text-align: center;
}
